/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 */


body { 
	background-color: #eff3f6;
	font-size: .875rem; 
	padding-bottom: 1.25rem;
	padding-top: 84px;
	@media only screen and (max-width: 768px) { padding-top: 120px } 
}
p, h3, h4, h5, span {
	&::selection {
		background-color: #005b94;
		color: #fff;
	}	
}

p { font-family: 'Montserrat'; }
h3, h4, h5, .text-dark { color: #005b94 !important } //#004E64

.nav-bar {
	box-shadow: 0 .125rem .25rem rgba(0,204,255,.075)!important;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    @media only screen and (max-width: 768px) { position: absolute; } 
	a {
		color: #9DB4C0;
		&.active { color: #005b94 }
		&:hover { color: #4f6367 !important }
		&::selection {
			background-color: #005b94;
			color: #fff;
		}	
	}
	h5 > a {
		&:hover { 
			color: #283044!important; //#BFC0C0
			text-decoration: none; 
			text-shadow: 1px 1px 1px #00ccff;
		}
	}

}

.container.index {
	.header {
		h2 {
			color: #003057;//#00ccff
			font-family: 'Nunito Sans', sans-serif; 
			font-size: 4rem;
			font-weight: 700; 
			&::selection {
				background-color: #004E64;
				color: #fff;
			}
		}
	}
	.projects {
		h4 { 
			font-family: 'Nunito Sans', sans-serif; 
			margin-bottom: .625rem;
		}
		a { text-decoration: none }
		img {
			border: 1px solid #aaa; 
			background: #fff; 
			padding: 1rem; 
			height: 250px; 
			margin: 1rem;
			@media only screen and (max-width: 992px) {
				height: auto;
				width: 100%;
			}
			@media only screen and (max-width: 575px) {
				height: auto;
				width: 90%;
			}
		}
		> div.col-md-6:last-of-type {
			margin-top: 1rem;
			a > div {
				display: flex;
				justify-content: space-between;
				img { 
					background: #fff;
				    border: 1px solid #aaa;
				    margin: 0px 0px .625rem 0px;
				    max-width: 32%;
				    padding: .625rem;
					width: auto;
				}
			}	
		}
	}
	.ux-process,
	.ux-tools {
		margin: 2.5rem 0px;
		h4 { 
			font-family: 'Nunito Sans', sans-serif; 
			margin-bottom: .625rem;
		}
		img { 
			padding: 1rem 0px;
			width: 75%;
			@media only screen and (max-width: 991px) { width: 100% } 
		}
	}
	.ux-tools img { 
		padding: .625rem 8rem 3.750em;
		width: 75%; 
		@media only screen and (max-width: 991px) { padding: 1rem 3rem 2.50em }
		@media only screen and (max-width: 768px) { padding: .625rem 1.25rem 1rem } 
	} 
}

.container.about {
	.row:first-of-type > .col {
		padding: 1.25rem 0px;
		p:first-of-type {
			column-count: 2; 
			column-rule: 1px solid #707070; 
			column-gap: 40px;
			@media only screen and (max-width: 768px) {
				column-count: 1;
			}	
		}
		p:not(:first-of-type) {
			float: right;
			margin-bottom: 0px;
			text-align: right;
			width: 50%;
			@media only screen and (max-width: 768px) {
				float: none;
				text-align: center;
				width: 100%;
			}
		}	
	}
	.row:nth-of-type(2) > .col {
		p {
			display: flex;
			justify-content: center;
			> a {
				color: #004e64;
				padding-left: .25rem;
				&:hover { color: #4f6367 !important }
				&::selection {
					background-color: #00ccff;
					color: #004E64;
				}	
			}
		}		
	}
	.row:last-of-type > .col { 
		text-align: right;
		> div { 
			float: right;
			margin-bottom: 1rem;
			margin-top: -5rem; 

		}
		> a {
			display: flex;
			justify-content: center;
		}
		img {
			    
			    // border-bottom-left-radius: 50%;
			    // border-bottom-right-radius: 50%;
			    // border-top-left-radius: 50%;
			    // border-top-right-radius: 50%;
			    // border: 3px solid #004e64;
			    // box-shadow: 2px 2px 10px rgba(0, 204, 255, 0.25);
		}
		figcaption { padding-top: .625rem }
		@media only screen and (max-width: 1200px) {
			text-align: center;
			> div { margin-top: -2rem }
		}
		@media only screen and (max-width: 990px) {
			> div { 
				float: none;
				margin-top: 0rem;
			}
		}
	}
		
}

.container.work {
	h5 { margin-bottom: 1rem }
	.overview { padding: 1.25rem 0px }
	figure { 
		width: 100%; 
		> img { 
			border: 1px solid #707070;
			padding: .625rem; 
		}
	}
	.iframe-container {
		border: 1px solid #707070;
		max-width: 1323px; /** replace with your canvas width **/
		margin: 0px auto .625rem;
		overflow: hidden;
		padding-top: 58.05%; /* h/w, i.e. 768/1323, replace with your percentage */
		position: relative;		
		.responsive-iframe {
			border: 0;
			height: 100%;
			left: 0;
			max-height: 100vh;
			max-width: calc(100vh * 1.72); /* replace with your number, divide canvas width by height, i.e. 1323w/768h = 1.78 */
			position: absolute;
			top: 0;
			width: 100%; 
		}
	}
	.bottom-divider > div {
		border-bottom: 1px solid #4d4d4d; 
		margin: 1.25rem auto;
	}
	.other-projects {
		margin-bottom: 1rem 0px 1.25rem; 
		div.col-sm-6:first-of-type { border-right: 1px solid #707070; }
		a { 
			text-decoration: none; 
			img { 
				background: #fff;
				border: 1px solid #aaa;
				margin-bottom: .625rem;
				padding: .625rem; 
			}
		}
		h5 { margin: 0px; }
		div.col-sm-6:last-of-type a > div {
			display: flex;
			justify-content: space-between;
			img { 
				max-width: 32%;
				width: auto;
			}
		}
	}
}

.social-icons {
	//padding-bottom: 1.25rem;
	a { text-decoration: none }
	a:hover i { 
		color: #003057;
		transition: all .375s ease-in-out;
	}
	.icon-container {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin: 0px .625rem;
		i { color: #005b94 } //#00ccff
		span {
			color: #003057; //#004E64
			font-size: .625rem;
			font-family: 'Nunito Sans', sans-serif; 
			padding-top: .125rem;
		}
	}
}