/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 */
/* line 8, ../sass/main.scss */
body {
  background-color: #eff3f6;
  font-size: .875rem;
  padding-bottom: 1.25rem;
  padding-top: 84px;
}
@media only screen and (max-width: 768px) {
  /* line 8, ../sass/main.scss */
  body {
    padding-top: 120px;
  }
}

/* line 16, ../sass/main.scss */
p::selection, h3::selection, h4::selection, h5::selection, span::selection {
  background-color: #005b94;
  color: #fff;
}

/* line 22, ../sass/main.scss */
p {
  font-family: 'Montserrat';
}

/* line 23, ../sass/main.scss */
h3, h4, h5, .text-dark {
  color: #005b94 !important;
}

/* line 25, ../sass/main.scss */
.hide {
  display: none;
}

/* line 27, ../sass/main.scss */
.nav-bar {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 204, 255, 0.075) !important;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  /* line 27, ../sass/main.scss */
  .nav-bar {
    position: absolute;
  }
}
/* line 34, ../sass/main.scss */
.nav-bar a {
  color: #9DB4C0;
}
/* line 36, ../sass/main.scss */
.nav-bar a.active {
  color: #005b94;
}
/* line 37, ../sass/main.scss */
.nav-bar a:hover {
  color: #4f6367 !important;
}
/* line 38, ../sass/main.scss */
.nav-bar a::selection {
  background-color: #005b94;
  color: #fff;
}
/* line 44, ../sass/main.scss */
.nav-bar h5 > a:hover {
  color: #283044 !important;
  text-decoration: none;
  text-shadow: 1px 1px 1px #00ccff;
}

/* line 55, ../sass/main.scss */
.container.index .header h2 {
  color: #003057;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 4rem;
  font-weight: 700;
}
/* line 60, ../sass/main.scss */
.container.index .header h2::selection {
  background-color: #004E64;
  color: #fff;
}
/* line 67, ../sass/main.scss */
.container.index .projects h4 {
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: .625rem;
}
@media only screen and (max-width: 767px) {
  /* line 67, ../sass/main.scss */
  .container.index .projects h4 {
    margin-top: 1rem;
  }
}
/* line 74, ../sass/main.scss */
.container.index .projects a {
  text-decoration: none;
}
/* line 75, ../sass/main.scss */
.container.index .projects img {
  border: 1px solid #aaa;
  background: #fff;
  padding: .625rem;
  max-height: 220px;
  margin: .5rem;
}
@media only screen and (max-width: 992px) {
  /* line 75, ../sass/main.scss */
  .container.index .projects img {
    height: auto;
    max-height: none;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 88, ../sass/main.scss */
  .container.index .projects .design-project {
    display: flex;
    flex-direction: column-reverse;
  }
  /* line 91, ../sass/main.scss */
  .container.index .projects .design-project p {
    margin-bottom: 0.5rem;
  }
  /* line 92, ../sass/main.scss */
  .container.index .projects .design-project img {
    margin: 0px .5rem 1rem .5rem;
  }
}
/* line 95, ../sass/main.scss */
.container.index .projects > div.col-md-6:last-of-type {
  margin-top: 1rem;
}
/* line 97, ../sass/main.scss */
.container.index .projects > div.col-md-6:last-of-type > div {
  display: flex;
  justify-content: space-between;
}
/* line 100, ../sass/main.scss */
.container.index .projects > div.col-md-6:last-of-type > div a {
  max-width: 32%;
}
/* line 102, ../sass/main.scss */
.container.index .projects > div.col-md-6:last-of-type > div a img {
  background: #fff;
  border: 1px solid #aaa;
  margin: 0px 0px .625rem 0px;
  max-width: 100%;
  padding: .625rem;
  width: auto;
}
/* line 114, ../sass/main.scss */
.container.index .ux-process,
.container.index .ux-tools {
  margin: 2.5rem 0px;
}
/* line 117, ../sass/main.scss */
.container.index .ux-process h4,
.container.index .ux-tools h4 {
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: .625rem;
}
/* line 121, ../sass/main.scss */
.container.index .ux-process img,
.container.index .ux-tools img {
  padding: 1rem 0px;
  width: 75%;
}
@media only screen and (max-width: 991px) {
  /* line 121, ../sass/main.scss */
  .container.index .ux-process img,
  .container.index .ux-tools img {
    width: 100%;
  }
}
/* line 127, ../sass/main.scss */
.container.index .ux-tools img {
  padding: .625rem 8rem 3.750em;
  width: 75%;
}
@media only screen and (max-width: 991px) {
  /* line 127, ../sass/main.scss */
  .container.index .ux-tools img {
    padding: 1rem 3rem 2.5em;
  }
}
@media only screen and (max-width: 768px) {
  /* line 127, ../sass/main.scss */
  .container.index .ux-tools img {
    padding: 0.625rem 1.25rem 1rem;
  }
}

/* line 136, ../sass/main.scss */
.container.about .row:first-of-type > .col {
  padding: 1.25rem 0px;
}
@media only screen and (max-width: 575px) {
  /* line 139, ../sass/main.scss */
  .container.about .row:first-of-type > .col p {
    padding: 0px 1rem;
    text-align: left;
  }
}
/* line 144, ../sass/main.scss */
.container.about .row:first-of-type > .col p:first-of-type {
  column-count: 2;
  column-rule: 1px solid #707070;
  column-gap: 40px;
}
@media only screen and (max-width: 768px) {
  /* line 144, ../sass/main.scss */
  .container.about .row:first-of-type > .col p:first-of-type {
    column-count: 1;
  }
}
/* line 152, ../sass/main.scss */
.container.about .row:first-of-type > .col p:not(:first-of-type) {
  float: right;
  margin-bottom: 0px;
  text-align: right;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  /* line 152, ../sass/main.scss */
  .container.about .row:first-of-type > .col p:not(:first-of-type) {
    float: none;
    text-align: center;
    width: 100%;
  }
}
/* line 165, ../sass/main.scss */
.container.about .row:nth-of-type(2) > .col p {
  display: flex;
  justify-content: center;
}
/* line 168, ../sass/main.scss */
.container.about .row:nth-of-type(2) > .col p > a {
  color: #004e64;
  padding-left: .25rem;
}
/* line 171, ../sass/main.scss */
.container.about .row:nth-of-type(2) > .col p > a:hover {
  color: #4f6367 !important;
}
/* line 172, ../sass/main.scss */
.container.about .row:nth-of-type(2) > .col p > a::selection {
  background-color: #00ccff;
  color: #004E64;
}
/* line 179, ../sass/main.scss */
.container.about .row:last-of-type > .col {
  text-align: right;
}
/* line 181, ../sass/main.scss */
.container.about .row:last-of-type > .col > div {
  float: right;
  margin-bottom: 1rem;
  margin-top: -5rem;
}
/* line 187, ../sass/main.scss */
.container.about .row:last-of-type > .col > a {
  display: flex;
  justify-content: center;
}
/* line 200, ../sass/main.scss */
.container.about .row:last-of-type > .col figcaption {
  padding-top: 0.625rem;
}
@media only screen and (max-width: 1200px) {
  /* line 179, ../sass/main.scss */
  .container.about .row:last-of-type > .col {
    text-align: center;
  }
  /* line 203, ../sass/main.scss */
  .container.about .row:last-of-type > .col > div {
    margin-top: -2rem;
  }
}
@media only screen and (max-width: 990px) {
  /* line 206, ../sass/main.scss */
  .container.about .row:last-of-type > .col > div {
    float: none;
    margin-top: 0rem;
  }
}

/* line 216, ../sass/main.scss */
.container.work h5 {
  margin-bottom: 1rem;
}
/* line 217, ../sass/main.scss */
.container.work .overview {
  padding: 1.25rem 0px;
}
@media only screen and (max-width: 991px) {
  /* line 220, ../sass/main.scss */
  .container.work .overview p {
    text-align: left;
  }
}
/* line 223, ../sass/main.scss */
.container.work figure {
  width: 100%;
}
/* line 225, ../sass/main.scss */
.container.work figure a > img {
  border: 1px solid #707070;
  padding: .625rem;
}
/* line 230, ../sass/main.scss */
.container.work .iframe-container {
  border: 1px solid #707070;
  max-width: 1323px;
  /** replace with your canvas width **/
  margin: 0px auto .625rem;
  overflow: hidden;
  padding-top: 58.05%;
  /* h/w, i.e. 768/1323, replace with your percentage */
  position: relative;
}
/* line 237, ../sass/main.scss */
.container.work .iframe-container .responsive-iframe {
  border: 0;
  height: 100%;
  left: 0;
  max-height: 100vh;
  max-width: calc(100vh * 1.72);
  /* replace with your number, divide canvas width by height, i.e. 1323w/768h = 1.78 */
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 248, ../sass/main.scss */
.container.work .bottom-divider > div {
  border-bottom: 1px solid #4d4d4d;
  margin: 1.25rem auto;
}
/* line 252, ../sass/main.scss */
.container.work .other-projects {
  margin-bottom: 1rem 0px 1.25rem;
}
@media only screen and (max-width: 992px) {
  /* line 254, ../sass/main.scss */
  .container.work .other-projects div.col-sm-6 {
    text-align: center !important;
  }
}
/* line 257, ../sass/main.scss */
.container.work .other-projects div.col-sm-6:first-of-type {
  border-right: 1px solid #707070;
}
/* line 258, ../sass/main.scss */
.container.work .other-projects a {
  text-decoration: none;
}
/* line 259, ../sass/main.scss */
.container.work .other-projects img {
  border: 1px solid #aaa;
  background: #fff;
  padding: .625rem;
  max-height: 220px;
  margin: .5rem;
}
@media only screen and (max-width: 992px) {
  /* line 259, ../sass/main.scss */
  .container.work .other-projects img {
    height: auto;
    max-height: none;
    width: 75%;
  }
}
@media only screen and (max-width: 575px) {
  /* line 259, ../sass/main.scss */
  .container.work .other-projects img {
    height: auto;
    max-height: none;
    width: 75%;
  }
}
/* line 276, ../sass/main.scss */
.container.work .other-projects h5 {
  margin: 0px;
}
/* line 277, ../sass/main.scss */
.container.work .other-projects div.col-sm-6:last-of-type a > div {
  display: flex;
  justify-content: space-between;
}
/* line 280, ../sass/main.scss */
.container.work .other-projects div.col-sm-6:last-of-type a > div img {
  max-width: 32%;
  width: auto;
}

/* line 290, ../sass/main.scss */
.social-icons a {
  text-decoration: none;
}
/* line 291, ../sass/main.scss */
.social-icons a:hover i {
  color: #003057;
  transition: all .375s ease-in-out;
}
/* line 295, ../sass/main.scss */
.social-icons .icon-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0px .625rem;
}
/* line 300, ../sass/main.scss */
.social-icons .icon-container i {
  color: #005b94;
}
/* line 301, ../sass/main.scss */
.social-icons .icon-container span {
  color: #003057;
  font-size: .625rem;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: .125rem;
}

/* line 312, ../sass/main.scss */
img.hover-shadow {
  transition: 0.3s;
}

/* line 316, ../sass/main.scss */
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
